.order-container {
  display: flex;
  flex-direction: column;
}

.order {
  display: grid;
}

.title-order {
  font-weight: 600;
  font-size: 1.2rem;
  /* margin-top: 290px; */
  /* height: 80%; */
}

.line {
  border-bottom: 3px solid white;
  display: block;
}

.order-items {
  grid-row: 2;
  font-size: 1.2rem;
  /* margin-top: 5%; */
}

.remove-btn {
  width: 10%;
}

.total-price {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-redish);
  justify-content: flex-end;
  margin-right: 5%;
}