.order-tickets-container {
  grid-column: -1/1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  box-sizing: content-box;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 5rem;
}

.order-tickets-container::-webkit-scrollbar {
  display: none;
}

.tickets-wrapper{
  grid-column: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6%;
  gap: 5%;
  width: 100%;
  padding-bottom: 20%;
}

.ticket-card {
  height: 614px;
  width: 345px;
  background: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.order-data {
  display: flex;
  background: #CDCDCD;
  border-radius: 15px 15px 0 0;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 5%;
  grid-row: 1;
}

.order-data-active {
  background: #1AD2D2;
}

.order-data-ready {
  background: #1AD264;
}

.center-container {
  height: 70%;
}

.ticket-elements {
  height: 72%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-bottom: 10%;
}

.right-data {
  flex-direction: column;
}

.waiter-info, .time-info {
  font-size: 1.2rem;
}

.table-number-order {
  font-weight: 600;
  font-size: 1.5rem;
}

.items-list {
  list-style: none;
  margin: 5% 5% 0% 5%;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.more-items {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  background: #ECECEC;
  height: 55px;
  line-height: 55px;
}

.ticket-btn {
  display: block;
  background: var(--clr-reddish);
  margin: auto auto 6% auto;
  border: none;
  width: 300px;
  height: 65px;
  border-radius: 15px;
  font-family: 'Fredoka One';
  font-size: 1.6rem;
  color: white;
}

.ticket-btn-deactivated {
  background: #CDCDCD;
}


@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape)  {
  .order-tickets-container {
    grid-template-columns: 3% 5fr 3%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    width: 100%;
    margin-top: 0rem;
  }

  .tickets-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: scroll;
    scrollbar-width: none;
    align-content: flex-start;
  }

  .tickets-wrapper::-webkit-scrollbar {
    display: none;
  }
}