
.menu-container{
  grid-column: 1;
  display: flex;
  grid-row: 2/-1;
  
}

.menu-box {
  display: grid;
  grid-template-rows: fit-content(30px) 2fr;
  width: 100%;
  margin-top: 2%;
  background-color: white;
  overflow-y: scroll;
  box-sizing: content-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-box::-webkit-scrollbar {
  display: none;
}

.text-hour {
  grid-row: 1;
  font-family: Montserrat;
  font-size: 1.5rem;
  color: #878787;
  text-align: center;
  margin-top: 5%;
  height: 29px;
}

.menu-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1.5em;
  margin: 5% auto auto;
  align-items: center;
  width: 100%;
  padding-bottom: 20%;
}

.food-btn {
  width: 230px;
  height: 240px;
  margin-left: 12px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 24px 24px 64px rgba(252, 240, 232, 0.96);
  border: none;
  font-family: 'Montserrat';
  color: #878787;
  font-size: 1.2rem;
}

.order {
  grid-row: 1;
}
