.modal{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr; 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
  /* overflow-y: scroll; */
  position: fixed;
}

.modal-content{
  grid-column: 2;
  grid-row: 2;
  max-width:100%;
  background-color: #ffff;
  border-radius: 20px;
  z-index: 11; 
}

.modal-wrapper {
  display: grid;
  grid-template-rows: 0.8fr 3fr 1.2fr;
  width: 100%;
  height: 100%;
  margin: auto;
  /* padding: 1% 2% 2% 2%; */
}

.info-container {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  padding: 0% 20%;
  justify-content: space-between;
}

.header {
  font-family: 'Montserrat';
  font-size: 2.5rem;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--clr-text);
  justify-content: center;
  /* padding: 0% 15%; */
}

.order-info {
  padding-top: 10%;
  width: 100%;
  margin: 6%;
  font-size: 1.5rem;
  color: var(--clr-text);
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--clr-reddish);
  font-weight: bold;
  font-size: 1.6rem;
  margin: 15% 5%;
}

.total-info {
  display: flex;
  margin-right: 10%;
  position: relative;
}

.footer {
  grid-row: 3;
  display:flex;
  cursor: pointer;
  flex-direction: row; 
  justify-content: space-evenly;
  margin: 0% 10%;
}

.btn-yes, .btn-no {
  width: 150px;
  height: 80px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--clr-reddish);
  border: none;
  color: white;
  font-family: 'Fredoka One';
  font-size: 1.7rem;
  display: block;
  margin: 5% 0%;
  text-align: center;
  border-radius: 15px;
}

.btn-no {
  background-color: var(--clr-text);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.confirmed-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.confirmed-icon {
  height: 150px;
}

.text-container {
  font-size: 2rem;
  font-family: 'Montserrat';
  font-weight: bold;
  color: rgb(119, 190, 173);
  text-align: center;
  margin: 5% 20%;
}

.close-modal-btn {
  align-self: center;
  width: 30%;
  height: 10%;
  margin-top: 10%;
  font-size: 1.6rem;
  font-family: 'Fredoka One';
  background: var(--clr-text);
  color: white;
  border: none;
  border-radius: 15px;
}
