.logout-btn {
  width: 60px;
  margin-left: 4%;
}

.message-text {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1.8rem;
  padding: 0% 20%;
  color: var(--clr-text);
  font-weight: 600;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: -10%;
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape)  {
  .btn-container {
    justify-content: space-evenly;
  }

  .logout-btn {
    margin-left: 3%;
  }
}
