
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr fit-content(40px) 3fr;
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-primary);
  overflow: hidden;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-row: 1;
  grid-column: 1;
}

.toggle-switch {
  margin-top: 2%;
  margin-right: 2%;
  height: 10%;
  border: none;
}

.logo-container {
  grid-row: 1;
  grid-column: 1;
  height: 676px;
  padding-top: 60px;
}

.img {
  height: 100%;
  background: url('./images/logo.png');
  background-repeat: no-repeat;
  background-position-x: 50%; 
}

.logo-message {
  display: none;
}

.error-message {
  color:var(--clr-secondary);
  font-family: "Montserrat";
  font-size: 1.4rem;
  grid-row: 2;
  text-align: center;
  height: 40px;
  padding-top: 2%;
  margin-bottom: -2%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-row: 3;
  grid-column: 1;
  text-align: center;
}

.form-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50%;
  margin-top: 10%;
}

.form-input {
  border-radius: 20px;
  width: 500px;
  height: 33px;
  border: 0px;
  padding: 20px;
  font-size: 24px;
  font-family: "Montserrat";
}

.form-input:focus {
  outline: none;
  box-shadow: 0 0 10px white;
}

.user {
  background: var(--clr-background) url(images/user.png) right no-repeat scroll;
  background-size: 10%;
  padding-right: 20px;
}

.password {
  background: var(--clr-background) url(images/pass.png) right no-repeat scroll;
  background-size: 10%;
  padding-right: 20px;
}

.email {
  background: var(--clr-background) url(images/email.png) right no-repeat scroll;
  background-size: 10%;
  padding-right: 20px;
}

.btn {
  width: 400px;
  height: 63px;
  background-color: var(--clr-reddish);
  border-radius: 20px;
  color: var(--clr-secondary);
  border: 0px;
  font-size: 24px;
  font-family: "Fredoka One";
}

.form-input::placeholder {
  color: #A2A2A2;
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape)  {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: white;
  }

  .toggle-container {
    grid-column: 2;
  }

  .toggle-switch {
    margin-top: 5%;
    margin-right: 5%;
    height: 30%;
  }

  .logo-container {
    grid-row: 1/-1;
    height: 100vh;
    grid-column: 1;
    background-color: var(--clr-primary);
  }

  .img {
    background: url('./images/logohorizontal.png');
    background-repeat: no-repeat;
    background-position-x: 50%; 
    background-position-y: 40%;
  }

  .logo-message {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One';
    font-size: 2rem;
    color: var(--clr-reddish);
  }

  .error-message {
    color: black;
    grid-column: 2;
    grid-row: 2;
    margin-top: 20%;
  }
  
  .form-grid {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    margin-top: 30%;
    margin-bottom: -30%;
  }
  
  .form-container {
    grid-column: 2;
  }

  
}
