.general-grid {
  display: grid;
  /* grid-template-columns: fit-content(65%) 1fr; */
  grid-template-rows: fit-content(20%) 1fr 1fr;
  height: 100vh;
}

.header-main {
  display: flex;
  align-items: center;
  /* padding: 0% 15%; */
  /* justify-content:flex-end; */
}

.image-container {
  display: flex;
  /* justify-content: center; */
}

.img-title {
  width: 40%;
  margin: 2%;
}

.link-to-btn {
  grid-row: 1;
  grid-column: 2;
  justify-content: flex-end;
  margin-left: 30%;
}

.orders-ready {
 width: 60%;
 margin-top: 20%
}

@media (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:landscape)  {
  .img-title {
    width: 20%;
  }
}